<!doctype html>

{% extends "site_crypto/base.html" %}
{% load static %}
{% block css %} {% endblock %}
{% block title %} Анализ пар {% endblock title %}
{% block header %} Анализ криптовалютных пар. {% endblock header %}

{% block content %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Биржа</th>
          <th scope="col">Курс</th>
          <th scope="col">Тест</th>
        </tr>
      </thead>

      <tbody>
        {% for key, value in context.items %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ key }}</td>
          <td>BTC/USDT</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



  <div class="m-3">
    <button type="button" class="btn btn-primary">Сохрханить результат</button>
  </div>
{% endblock content %}
