<!DOCTYPE html>

{% extends "site_crypto/base.html" %}
{% load static %}
{% block css %} {% endblock %}
{% block title %} Главная {% endblock title %}
{% block header %} Арбитраж криптовалют от PRO finder. {% endblock header %}
{% block content %} Тут Тест о компании PRO finder. 

{% endblock content %}
{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Это ИНДЕКС страницы</title>
</head>
<body>
    <h1>Это ИНДЕКС страницы в папке tempates</h1>
    <h4>
    <a href="{% url 'forms' %}">Форма для заполнения </a></p>
    <a href="{% url 'exch' %}">Вывод данных </a></p>
    <a href="{% url 'asset' %}">Валюты </a></p>
    <a href="{% url 'price' %}">Курсы на биржах </a></p>
    
    </h4>
</body>
</html> {% endcomment %}