<!DOCTYPE html>

{% extends "site_crypto/base.html" %}
{% load static %}
{% block css %} {% endblock %}
{% block title %} Главная {% endblock title %}
{% block header %} Арбитраж криптовалют от PRO finder. {% endblock header %}
{% block content %} 
</br>
Тут Тест о компании PRO finder. Биржы с которыми работаем, платежные системы которые принимаем. Описание и видео проекта

<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <img src="{% static 'images/bybit.png'%}" class="card-img-top" alt="bybit">
      </div>
      <div class="col">
        <img src="{% static 'images/coinex.png'%}" class="card-img-top" alt="coinex">
      </div>
      <div class="col">
        <img src="{% static 'images/binance.png'%}" class="card-img-top" alt="bbinance">
      </div>
      <div class="col">
        <img src="{% static 'images/huobi.png'%}" class="card-img-top" alt="huobi">
      </div>
      <div class="col">
        <img src="{% static 'images/kraken.png'%}" class="card-img-top" alt="kraken">
      </div>
    </div> </br>
    <div class="row align-items-center">
        <div class="col">
          <img src="{% static 'images/bitfinex.png'%}" class="card-img-top" alt="bitfinex">
        </div>
        <div class="col">
          <img src="{% static 'images/kukoin.png'%}" class="card-img-top" alt="kukoin">
        </div>
        <div class="col">
          <img src="{% static 'images/mexc.png'%}" class="card-img-top" alt="mexc">
        </div>
        <div class="col">
          <img src="{% static 'images/okx.png'%}" class="card-img-top" alt="okx">
        </div>
        <div class="col">
          <img src="{% static 'images/phemex.png'%}" class="card-img-top" alt="phemex">
        </div>
      </div>
`     </br>`
    <div class="row align-items-center">
        <div class="col">
          <img src="{% static 'images/coinw.png'%}" class="card-img-top" alt="coinw">
        </div>
        <div class="col">
          <img src="{% static 'images/exmo.png'%}" class="card-img-top" alt="exmo">
        </div>
        <div class="col">
          <img src="{% static 'images/gate.png'%}" class="card-img-top" alt="gate">
        </div>
        <div class="col">
          <img src="{% static 'images/hitbtc.png'%}" class="card-img-top" alt="hitbtc">
        </div>
        <div class="col">
          <img src="{% static 'images/poloniex.png'%}" class="card-img-top" alt="poloniex">
        </div>
      </div>
    </br>
    <div class="row align-items-center">
        <div class="col">
          <img src="{% static 'images/bitforex.png'%}" class="card-img-top" alt="bitforex">
        </div>
        <div class="col">
          <img src="{% static 'images/xt.png'%}" class="card-img-top" alt="xt">
        </div>
        <div class="col">
          <img src="{% static 'images/probit.png'%}" class="card-img-top" alt="probit">
        </div>
        <div class="col">
          <img src="{% static 'images/mexc.png'%}" class="card-img-top" alt="mexc">
        </div>
        <div class="col">
          <img src="{% static 'images/coinbase.png'%}" class="card-img-top" alt="coinbase">
        </div>
      </div>
      </br>
    <div class="row align-items-center">
        <div class="col">
          <img src="{% static 'images/exmo.png'%}" class="card-img-top" alt="exmo">
        </div>
        <div class="col">
          <img src="{% static 'images/bittrex.png'%}" class="card-img-top" alt="bittrex">
        </div>
        <div class="col">
          <img src="{% static 'images/bitmart.png'%}" class="card-img-top" alt="bitmart">
        </div>
        <div class="col">
          <img src="{% static 'images/digifinex.png'%}" class="card-img-top" alt="digifinex">
        </div>
        <div class="col">
          <img src="{% static 'images/lbank.png'%}" class="card-img-top" alt="lbank">
        </div>
      </div>
      
  </div>

{% endblock content %}
{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Это ИНДЕКС страницы</title>
</head>
<body>
    <h1>Это ИНДЕКС страницы в папке tempates</h1>
    <h4>
    <a href="{% url 'forms' %}">Форма для заполнения </a></p>
    <a href="{% url 'exch' %}">Вывод данных </a></p>
    <a href="{% url 'asset' %}">Валюты </a></p>
    <a href="{% url 'price' %}">Курсы на биржах </a></p>
    
    </h4>
</body>
</html> {% endcomment %}